* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "titulo";
  src: url(../caviar_dreams/fonts/CaviarDreams.ttf); }

.texto-banner {
  font-family: "titulo";
  color: #949494;
  text-align: center;
  font-size: 30px;
  letter-spacing: 20px;
  margin-top: 20px; }

.video-banner {
  margin: 0;
  display: block;
  height: 500px;
  width: 100%;
  object-position: center;
  object-fit: cover; }

.fondo {
  background: url(../resources/Fotos/fondo-claro.jpg);
  background-attachment: fixed; }

.banner-2 {
  border: solid;
  border-color: #1f1f1f;
  margin: auto;
  height: 200px;
  padding: 0;
  background-color: #1f1f1f; }
  .banner-2 p {
    font-family: titulo;
    color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    padding: 50px; }

.seccion-1 {
  display: flex;
  flex-direction: row;
  padding: 30px; }
  .seccion-1 img {
    width: 40%;
    height: 350px;
    object-fit: cover; }
  .seccion-1 .cajita-texto1 {
    display: flex;
    background-color: white;
    box-shadow: -20px 20px 20px grey;
    margin: auto;
    width: 500px;
    height: 170px;
    align-content: center;
    justify-content: center; }
    .seccion-1 .cajita-texto1 p {
      font-family: "titulo";
      font-size: 20px;
      justify-content: center;
      align-content: center;
      margin: 30px; }

.seccion-2 {
  display: flex;
  flex-direction: row;
  padding: 30px; }
  .seccion-2 img {
    width: 40%;
    height: 350px;
    object-fit: cover;
    object-position: top; }
  .seccion-2 .cajita-texto2 {
    display: flex;
    background-color: white;
    box-shadow: -20px 20px 20px grey;
    margin: auto;
    width: 500px;
    height: 170px;
    align-content: center;
    justify-content: center; }
    .seccion-2 .cajita-texto2 p {
      font-family: "titulo";
      font-size: 20px;
      justify-content: center;
      align-content: center;
      margin: 30px; }

.seccion-3 {
  display: flex;
  flex-direction: row;
  padding: 30px; }
  .seccion-3 img {
    width: 40%;
    height: 350px;
    object-fit: cover;
    object-position: top; }
  .seccion-3 .cajita-texto3 {
    display: flex;
    background-color: white;
    box-shadow: -20px 20px 20px grey;
    margin: auto;
    width: 500px;
    height: 170px;
    align-content: center;
    justify-content: center; }
    .seccion-3 .cajita-texto3 p {
      font-family: "titulo";
      font-size: 20px;
      justify-content: center;
      align-content: center;
      margin: 30px; }

footer {
  background-color: #f7c77f;
  display: flex;
  flex-direction: row; }
  footer .footer {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: none;
    width: 400px; }
    footer .footer div {
      display: flex;
      flex-direction: row; }
      footer .footer div img {
        height: 30px;
        width: 30px;
        overflow: hidden;
        object-fit: cover; }
      footer .footer div .texto-footer {
        padding-top: 7px;
        padding-left: 20px;
        font-size: 13px; }
  footer .logofooter {
    width: 200px;
    display: inline;
    flex-direction: row;
    border: none;
    margin-left: 650px;
    object-fit: cover; }

.wapp {
  position: fixed;
  top: 80%;
  right: 2%; }
  .wapp button {
    height: 100px;
    width: 100px;
    border-radius: 70px;
    border: none; }
    .wapp button:hover {
      transform: scale(1.1, 1.1); }
    .wapp button img {
      height: 60px; }

@media (max-width: 910px) {
  .texto-banner {
    letter-spacing: 1px;
    font-size: 20px; }
  .logo-footer {
    display: none; }
  .video-banner {
    height: 300px; }
  .banner-2 {
    height: 100px; }
    .banner-2 p {
      font-size: 14px;
      letter-spacing: 2px;
      padding-top: 10px; }
  .seccion-1 {
    display: flex;
    flex-direction: column; }
    .seccion-1 img {
      height: 300px;
      width: 250px;
      margin: auto; }
    .seccion-1 .cajita-texto1 {
      height: 150px;
      width: 250px;
      margin: auto;
      margin-top: 30px; }
      .seccion-1 .cajita-texto1 p {
        font-size: 14px; }
  .seccion-2 {
    display: flex;
    flex-direction: column; }
    .seccion-2 img {
      height: 300px;
      width: 250px;
      margin: auto; }
    .seccion-2 .cajita-texto2 {
      height: 150px;
      width: 250px;
      margin: auto;
      margin-bottom: 30px; }
      .seccion-2 .cajita-texto2 p {
        font-size: 14px; }
  .seccion-3 {
    display: flex;
    flex-direction: column; }
    .seccion-3 img {
      height: 300px;
      width: 250px;
      margin: auto; }
    .seccion-3 .cajita-texto3 {
      height: 150px;
      width: 250px;
      margin: auto;
      margin-top: 30px; }
      .seccion-3 .cajita-texto3 p {
        font-size: 14px; }
  .wapp {
    position: fixed;
    right: 71%;
    top: 25%; }
    .wapp button {
      height: 80px;
      width: 80px;
      border-radius: 70px;
      border: none; }
      .wapp button:hover {
        transform: scale(1.1, 1.1); }
      .wapp button img {
        height: 50px; } }

.titulo-nosotros {
  border: solid;
  border-color: #1f1f1f;
  margin: auto;
  height: 100px;
  padding: 0;
  background-color: #1f1f1f; }
  .titulo-nosotros .musica-uniendo {
    font-family: "titulo";
    color: #949494;
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    margin-top: 27px; }

.nosotros {
  background: url(../resources/Fotos/fondo-claro.jpg);
  background-attachment: fixed;
  padding-top: 30px;
  padding-bottom: 0px; }
  .nosotros .caja-texto-nosotros {
    display: flex;
    flex-direction: column;
    width: 700px;
    background-color: #f7c77f;
    box-shadow: -20px 20px 20px grey;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 60px; }
    .nosotros .caja-texto-nosotros p {
      margin: 50px;
      margin-bottom: 20px;
      text-align: justify; }
    .nosotros .caja-texto-nosotros h3 {
      text-align: center;
      font-size: 20px;
      margin-bottom: 50px; }

.titulo-integrantes {
  border: solid;
  border-color: #1f1f1f;
  margin: auto;
  height: 100px;
  padding: 0;
  background-color: #1f1f1f; }
  .titulo-integrantes .integrantes {
    font-family: "titulo";
    color: #949494;
    text-align: center;
    font-size: 25px;
    letter-spacing: 15px;
    margin-top: 29px; }

.ruteros {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f7c77f; }
  .ruteros .rutero {
    margin: 50px; }
    .ruteros .rutero img {
      height: 220px;
      width: 220px;
      object-fit: cover;
      object-position: top;
      margin-bottom: 30px;
      box-shadow: -20px 20px 20px #675d3c; }
    .ruteros .rutero .texto-rutero {
      background-color: white;
      width: 220px;
      height: 330px;
      box-shadow: -20px 20px 20px #675d3c; }
      .ruteros .rutero .texto-rutero .titulo-chico {
        margin-bottom: 0px;
        padding-bottom: 0px;
        text-align: center;
        font-size: 40px;
        font-family: "titulo"; }
      .ruteros .rutero .texto-rutero p {
        text-align: justify;
        font-size: 13px;
        margin-top: 0px;
        padding-top: 0px;
        padding: 25px; }

.titulo-redes {
  border: solid;
  border-color: #1f1f1f;
  margin: auto;
  height: 100px;
  padding: 0;
  background-color: #1f1f1f; }
  .titulo-redes .integrantes {
    font-family: "titulo";
    color: #949494;
    text-align: center;
    font-size: 25px;
    letter-spacing: 15px;
    margin-top: 29px; }

.perfiles {
  background-color: #1f1f1f;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-content: center;
  justify-content: center;
  padding: 30px;
  padding-bottom: 60px; }
  .perfiles div {
    display: flex;
    flex-direction: column; }
    .perfiles div img {
      width: 130px;
      height: 130px;
      object-fit: cover;
      border-radius: 70px;
      margin: 40px; }
    .perfiles div a {
      text-decoration: none;
      text-align: center;
      font-family: "titulo";
      font-size: 20px;
      color: white; }
      .perfiles div a:hover {
        border: solid;
        border-color: grey;
        border-radius: 20px; }

@media (max-width: 910px) {
  .titulo-nosotros .musica-uniendo {
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 35px; }
  .nosotros {
    padding-top: 5px; }
    .nosotros .caja-texto-nosotros {
      width: 280px;
      height: 630px; }
      .nosotros .caja-texto-nosotros p {
        font-size: 14px;
        margin: 30px; }
      .nosotros .caja-texto-nosotros h3 {
        font-size: 17px; }
  .titulo-integrantes .integrantes {
    font-size: 18px;
    letter-spacing: 1px;
    width: 300px;
    margin: auto;
    margin-top: 30px; }
  .ruteros {
    flex-direction: column; }
  .titulo-redes .integrantes {
    font-size: 18px;
    letter-spacing: 1px;
    width: 300px;
    margin: auto;
    margin-top: 30px; }
  .perfiles {
    flex-direction: column;
    margin: auto; }
    .perfiles div {
      margin: auto; }
      .perfiles div a {
        text-align: center; } }

.caja-titulo-repertorio {
  margin: 30px; }
  .caja-titulo-repertorio .titulo-repertorio {
    font-family: "titulo";
    color: #949494;
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    margin-top: 20px; }

.fondo-repertorio {
  background: url(../resources/Fotos/fondo-claro.jpg);
  background-attachment: fixed; }
  .fondo-repertorio .caja-repertorio {
    display: flex;
    flex-direction: column;
    background-color: #3e3e3e;
    width: 600px;
    margin: auto;
    margin-top: 0px;
    padding-top: 5px; }
    .fondo-repertorio .caja-repertorio .repertorio {
      color: white;
      padding: 90px;
      padding-left: 90px;
      list-style: none; }

@media (max-width: 910px) {
  .caja-titulo-repertorio .titulo-repertorio {
    font-size: 20px;
    letter-spacing: 2px; }
  .fondo-repertorio .caja-repertorio {
    width: 250px; }
    .fondo-repertorio .caja-repertorio .repertorio {
      font-size: 12px;
      padding: 30px; } }

.caja-titulo-galeria {
  padding: 30px;
  background-color: #1f1f1f; }
  .caja-titulo-galeria .titulo-galeria {
    font-family: "titulo";
    color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    margin-top: 20px; }

.galeria {
  background: url(../resources/Fotos/fondo-claro.jpg);
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  justify-content: center;
  margin: auto;
  padding-top: 40px;
  padding-bottom: 40px; }
  .galeria .imagen {
    border: solid white;
    width: 300px;
    height: 300px; }
    .galeria .imagen img {
      object-fit: cover;
      object-position: top;
      width: 300px;
      height: 300px; }
      .galeria .imagen img:hover {
        transform: scale(1.1, 1.1); }

.caja-video {
  background-color: #1f1f1f;
  height: 450px;
  width: 100%;
  display: block; }
  .caja-video .video-youtube {
    margin-top: 60px;
    margin-left: 380px; }

@media (max-width: 910px) {
  .caja-titulo-galeria {
    padding: 20px;
    background-color: #1f1f1f; }
    .caja-titulo-galeria .titulo-galeria {
      font-family: "titulo";
      color: white;
      text-align: center;
      font-size: 20px;
      letter-spacing: 3px;
      margin-top: 20px; }
  .galeria {
    background: url(../resources/Fotos/fondo-claro.jpg);
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 300px;
    justify-content: center;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px; }
    .galeria .imagen {
      border: solid white;
      width: 300px;
      height: 300px; }
      .galeria .imagen img {
        object-fit: cover;
        object-position: top;
        width: 300px;
        height: 300px; }
        .galeria .imagen img:hover {
          transform: scale(1.1, 1.1); }
  .caja-video {
    background-color: #1f1f1f;
    height: 450px;
    width: 100%;
    display: block; }
    .caja-video .video-youtube {
      width: 290px;
      margin-top: 60px;
      margin-left: 15px; } }

.contactate-caja {
  padding: 30px;
  background-color: #f7c77f; }
  .contactate-caja .contactate-titulo {
    font-family: "titulo";
    color: white;
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    margin-top: 20px; }

.fondo-formulario {
  background: url(../resources/Fotos/fondo-claro.jpg);
  background-attachment: fixed;
  height: 600px;
  align-content: center; }
  .fondo-formulario .caja-general {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 1100px;
    height: 400px;
    box-shadow: -20px 20px 20px grey; }
    .fondo-formulario .caja-general .imagen-formulario {
      width: 500px; }
      .fondo-formulario .caja-general .imagen-formulario .ruta-bosque {
        width: 500px;
        height: 400px;
        object-fit: cover; }
    .fondo-formulario .caja-general .caja-formulario {
      display: flex;
      flex-direction: column;
      width: 600px;
      height: 400px;
      background-color: #bebebe;
      justify-content: center;
      align-items: center; }
      .fondo-formulario .caja-general .caja-formulario .no-molesta {
        font-family: "titulo"; }
      .fondo-formulario .caja-general .caja-formulario .formulario {
        width: 400px;
        display: flex;
        flex-direction: column; }
        .fondo-formulario .caja-general .caja-formulario .formulario .consulta {
          height: 150px;
          font-size: 14px;
          padding-top: 10px; }
        .fondo-formulario .caja-general .caja-formulario .formulario .enviar {
          font-family: "titulo";
          letter-spacing: 5px;
          background-color: #f7c77f;
          border: none;
          margin: 5px; }
          .fondo-formulario .caja-general .caja-formulario .formulario .enviar:hover {
            transform: scale(1.1, 1.1);
            background-color: #1f1f1f;
            color: white; }

.caja-formulario-m {
  display: none; }

@media (max-width: 910px) {
  .contactate-caja {
    padding: 30px;
    background-color: #f7c77f; }
    .contactate-caja .contactate-titulo {
      font-family: "titulo";
      color: white;
      text-align: center;
      font-size: 20px;
      letter-spacing: 1px;
      margin-top: 20px; }
  .fondo-formulario {
    display: none; }
  .fondo-m {
    background: url(../resources/Fotos/fondo-claro.jpg);
    height: 500px;
    background-attachment: fixed; }
    .fondo-m .caja-formulario-m {
      display: flex;
      flex-direction: column;
      width: 250px;
      margin: auto;
      padding-top: 20px; }
      .fondo-m .caja-formulario-m .no-molesta-m {
        width: 250px;
        font-family: "titulo";
        text-align: center; }
      .fondo-m .caja-formulario-m .formulario-m {
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .fondo-m .caja-formulario-m .enviar-m {
        font-family: "titulo";
        letter-spacing: 5px;
        background-color: #f7c77f;
        border: none;
        margin: 5px; }
        .fondo-m .caja-formulario-m .enviar-m:hover {
          transform: scale(1.1, 1.1);
          background-color: #1f1f1f;
          color: white; } }
