// nav





// banner

.texto-banner {
    font-family: "titulo";
    color: $color-titulo;
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    margin-top: 20px;

}



.video-banner {
    margin: 0;
    display: block;
    height: 500px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}

//banner 2

.fondo {
    background: url(../resources/Fotos/fondo-claro.jpg);

    background-attachment: fixed;
}

.banner-2 {
    border: solid;
    border-color: rgb(31, 31, 31);
    margin: auto;
    height: 200px;
    padding: 0;
    background-color: rgb(31, 31, 31);

    p {
        font-family: titulo;
        color: white;
        text-align: center;
        font-size: 30px;
        letter-spacing: 20px;
        padding: 50px;
    }
}

.seccion-1 {
    display: flex;
    flex-direction: row;
    padding: 30px;

    img {
        width: 40%;
        height: 350px;
        object-fit: cover;
    }

    .cajita-texto1 {
        display: flex;
        background-color: white;
        box-shadow: -20px 20px 20px grey;
        margin: auto;

        width: 500px;
        height: 170px;
        align-content: center;
        justify-content: center;

        p {
            font-family: "titulo";
            font-size: 20px;
            justify-content: center;
            align-content: center;
            margin: 30px;
        }
    }

}

.seccion-2 {
    display: flex;
    flex-direction: row;
    padding: 30px;

    img {
        width: 40%;
        height: 350px;
        object-fit: cover;
        object-position: top;
    }

    .cajita-texto2 {
        display: flex;
        background-color: white;
        box-shadow: -20px 20px 20px grey;
        margin: auto;

        width: 500px;
        height: 170px;
        align-content: center;
        justify-content: center;

        p {
            font-family: "titulo";
            font-size: 20px;
            justify-content: center;
            align-content: center;
            margin: 30px;
        }
    }
}

.seccion-3 {
    display: flex;
    flex-direction: row;
    padding: 30px;

    img {
        width: 40%;
        height: 350px;
        object-fit: cover;
        object-position: top;
    }

    .cajita-texto3 {
        display: flex;
        background-color: white;
        box-shadow: -20px 20px 20px grey;
        margin: auto;

        width: 500px;
        height: 170px;
        align-content: center;
        justify-content: center;

        p {
            font-family: "titulo";
            font-size: 20px;
            justify-content: center;
            align-content: center;
            margin: 30px;
        }
    }
}


// footer


footer {
    background-color: $naranja;
    display: flex;
    flex-direction: row;

    .footer {
        display: flex;
        flex-direction: column;
        padding: 30px;
        border: none;
        width: 400px;

        div {
            display: flex;
            flex-direction: row;

            img {
                height: 30px;
                width: 30px;
                overflow: hidden;
                object-fit: cover;

            }

            .texto-footer {
                padding-top: 7px;
                padding-left: 20px;
                font-size: 13px;

            }
        }
    }

    .logofooter {
        width: 200px;
        display: inline;
        flex-direction: row;
        border: none;
        margin-left: 650px;
        object-fit: cover;

    }

}

//botón de whatsapp!

.wapp {
    position: fixed;
    top: 80%;
    right: 2%;

    button {
        height: 100px;
        width: 100px;
        border-radius: 70px;
        border: none;

        &:hover {
            transform: scale(1.1, 1.1);
        }

        img {
            height: 60px;
        }

    }


}


@media (max-width: 1000px) {
    .texto-banner {
        letter-spacing: 1px;
        font-size: 20px;
    }

    .logo-footer {
        display: none;
    }

    .video-banner {
        height: 300px;
    }

    .banner-2 {
        height: 100px;

        p {
            font-size: 14px;
            letter-spacing: 2px;
            padding-top: 10px;

        }
    }

    .seccion-1 {
        display: flex;
        flex-direction: column;

        img {
            height: 300px;
            width: 250px;
            margin: auto;

        }

        .cajita-texto1 {
            height: 150px;
            width: 250px;
            margin: auto;
            margin-top: 30px;

            p {
                font-size: 14px;

            }
        }
    }

    .seccion-2 {
        display: flex;
        flex-direction: column;

        img {
            height: 300px;
            width: 250px;
            margin: auto;

        }

        .cajita-texto2 {
            height: 150px;
            width: 250px;
            margin: auto;
            margin-bottom: 30px;

            p {
                font-size: 14px;

            }
        }
    }

    .seccion-3 {
        display: flex;
        flex-direction: column;

        img {
            height: 300px;
            width: 250px;
            margin: auto;

        }

        .cajita-texto3 {
            height: 150px;
            width: 250px;
            margin: auto;
            margin-top: 30px;

            p {
                font-size: 14px;

            }
        }
    }

    .wapp {
        display: none;
        position: fixed;
        right: 71%;
        top: 25%;

        button {
            height: 80px;
            width: 80px;
            border-radius: 70px;
            border: none;

            &:hover {
                transform: scale(1.1, 1.1);
            }

            img {
                height: 50px;
            }
        }

    }
}