
.texto-banner {
    font-family: "titulo";
    color: $color-titulo;
    text-align: center;
    font-size: 30px;
    letter-spacing: 20px;
    margin-top: 20px;
}



.video-banner {
    display: block;
    height: 500px;
    width: 100%;
    border-color: black;
    border: none;
    object-position: center;
    object-fit: cover;
}

// footer


footer {
    background-color: rgb(208, 157, 98);
    display: flex;
    flex-direction: row;
    .footer {
        display: flex;
        flex-direction: column;
        padding: 30px;
        border: none;
        width: 400px;
        div {
            display: flex;
            flex-direction: row;
            img {
                height: 30px;
                width: 30px;
                overflow: hidden;
                object-fit: cover;
            
            }
            .texto-footer {
                padding-top: 7px;
                padding-left: 20px;
                font-size: 13px;

            }
        }
    }
    .logofooter {
        width: 200px;
        display: inline;
        flex-direction: row;
        border: none;
        margin-left: 650px;
        object-fit: cover;

    }

}