.caja-titulo-repertorio {
    margin: 30px;

    .titulo-repertorio {
        font-family: "titulo";
        color: $color-titulo;
        text-align: center;
        font-size: 30px;
        letter-spacing: 20px;
        margin-top: 20px;
    }

}

.fondo-repertorio {
    background: url(../resources/Fotos/fondo-claro.jpg);
    background-attachment: fixed;

    .caja-repertorio {
        display: flex;
        flex-direction: column;
        background-color: rgb(62, 62, 62);
        width: 600px;
        margin: auto;
        margin-top: 0px;
        padding-top: 5px;

        .repertorio {
            color: white;
            padding: 90px;
            padding-left: 90px;
            list-style: none;

        } }}

        // medias querys

        @media (max-width: 910px) {
           
            .caja-titulo-repertorio {
                 .titulo-repertorio {
                font-size: 20px;
                letter-spacing: 2px;

            }
            }
.fondo-repertorio {
    .caja-repertorio {
        width: 250px;
        .repertorio {
            font-size: 12px;
            padding: 30px;

        }
    }
}
           
        }       
   
